body {
    background-color: #ad4e4e;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

p {
    font-size: 20px;
    margin: 20px 0;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ffcb05;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f7b700;
}


#message {
    font-size: 18px;
    font-weight: bold;
}